<!DOCTYPE html>
<html>

<head>
   <title>{{{title}}}</title>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Doze Cafe</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- font css -->
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body>
   <div class="header_section">
      <div class="container-fluid">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home"><img height="300" width="250" src="images/logobb.webp"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/#">Spellcard</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/#">Trapcard</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/#">ConTact</a>
                  </li>

               </ul>
               <form class="form-inline my-2 my-lg-0">
                  <div class="login_bt">
                     <ul>
                        <li><a href="/login"><span class="user_icon"><i class="fa fa-user"
                                    aria-hidden="true"></i></span>Login</a></li>
                        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </form>
            </div>
         </nav>
      </div>
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="banner_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="banner_img"><img src="images/bb1.webp"></div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">Spellcard</h1>
                              <h5 class="tasty_text">Branded In White</h5>
                              <p class="banner_text"> 100% </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="banner_img"><img src="images/bb2.webp"></div>
                        </div>
                        <div class="col-md-6">
                           <div class="banner_taital_main">
                              <h1 class="banner_taital">Spellcard</h1>
                              <h5 class="tasty_text">Pot of prosperity</h5>
                              <p class="banner_text"> 98% </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
   <div>
      <div class="row">
         <div class="bulit_icon"><img height="200" width="200" src="images/logointro.png"></div>
      </div>
      <p class="lorem_text">
         ✔ The Yu-Gi-Oh! Trading Card Game is a collectible card game developed and published by Konami. It is based on the fictional game of Duel Monsters created by manga artist Kazuki Takahashi, which appears in portions of the manga franchise Yu-Gi-Oh! and is the central plot device throughout its various anime adaptations and spinoff series.
      </p>
      <p class="lorem_text">
         ✔ The trading card game was launched by Konami in 1999 in Japan and March 2002 in North America. It was named the top selling trading card game in the world by Guinness World Records on July 7, 2009, having sold over 22 billion cards worldwide. As of March 31, 2011, Konami Digital Entertainment Co., Ltd. Japan sold 25.2 billion cards globally since 1999.
      </p>
      <p class="lorem_text">
         ✔ As of January 2021, the game is estimated to have sold about 35 billion cards worldwide. Yu-Gi-Oh! Speed Duel, a faster and simplified version of the game, was launched worldwide in January 2019. Another faster-paced variation, Yu-Gi-Oh! Rush Duel, launched in Japan in April 2020.
      </p>
   </div>
   </div>
   <div class="coffee_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="bulit_icon"><img height="200" width="200" src="images/logobb.webp"></div>
         </div>
      </div>
      <div class="bbrick_section_2">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container-fluid">
                     <div class="row">
                        {{#each spellcards }}
                        <div class="col-lg-3 col-md-6">
                           <h3 class="types_text">{{ Name }}</h3>
                           <div class="bbrick_img">
                              <a href="/spellcard/detail/{{_id}}"> <img src="{{Image}}"></a>

                           </div>
                           <h3 class="types_text">{{ Brand }}</h3>
                           <h3 class="types_text">$ {{ Price}}</h3>
                           <div class="read_bt"><a href="">Add To Cart</a></div>
                        </div>
                        {{/each}}

                        {{#each trapcards }}
                        <div class="col-lg-3 col-md-6">
                           <h3 class="types_text">{{ Name }}</h3>
                           <div class="bbrick_img">
                              <a href="/trapcard/detail/{{_id}}"> <img src="{{Image}}"></a>

                           </div>
                           <h3 class="types_text">{{ Brand }}</h3>
                           <h3 class="types_text">$ {{ Price}}</h3>
                           <div class="read_bt"><a href="">Add To Cart</a></div>
                        </div>
                        {{/each}}
                     </div>
                  </div>
               </div>

               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">Introduce Spellcard</h1>
               </div>
            </div>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/bb13.jpg"></div>
                        <h4 class="prep_text">Spellcard Reproduction</h4>
                        <p class="lorem_text">
                           ✔ Guaranteed 100% genuine, if found fake, refund 2 times the order value
                           ✔ Free return and exchange within 45 days
                           ✔ Free 1-year warranty on the entire system</p>
                     </div>
                     <div class="read_bt"><a href="#">Add To Cart</a></div>
                  </div>
                  <div class="col-md-6">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/bb15.webp"></div>
                        <h4 class="prep_text">Chaos Space</h4>
                        <p class="lorem_text">
                           ✔ Guaranteed 100% genuine, if found fake, refund 2 times the order value
                           ✔ Free return and exchange within 45 days
                           ✔ Free 1-year warranty on the entire system</p>
                     </div>
                     <div class="read_bt"><a href="#">Add To Cart</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- blog section end -->
      <!-- contact section start -->

      <!-- contact section end -->
      <!-- footer section start -->

      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-sm-12">
                  <p class="copyright_text">2024 All Rights Reserved. Design by <a href="https://html.design">Free Html
                        Templates</a></p>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="footer_social_icon">
                     <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100013071427016/"><i class="fa fa-facebook"
                                 aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/i_have_her/?hl=vi"><i class="fa fa-instagram"
                                 aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
</body>

</html>